/exercici3_royale/nbproject/private/
/exercici1_royale/nbproject/private/
/exercici2_royale/nbproject/private/
/exercici5_royale/nbproject/private/
/exercici4_royale/nbproject/private/
/exercici3_royale/dist/
/exercici3_royale/build/
/exercici1_royale/build/
/exercici1_royale/dist/
/exercici2_royale/dist/
/exercici2_royale/build/
/exercici5_royale/build/
/exercici5_royale/dist/
/siwtch_dies_setmana/nbproject/private/
/siwtch_dies_setmana/dist/
/siwtch_dies_setmana/build/
/switch_mesos/nbproject/private/
/switch_mesos/build/
/switch_mesos/dist/
/exercici18_uds2/nbproject/private/
/exercici18_uds2/dist/
/exercici18_uds2/build/
